@import "ValidationMessage.css";

.icon-ok,
.icon-legal,
.icon-ok-circle {
  color: green;
}

.icon-remove,
.icon-remove-sign {
  color: red;
}

.div-margin-sm {
  margin: 20px;
}

.checkmark-dashboard tr:nth-child(4n+3) {
  background: rgb(240, 240, 240);
}

.character-row {
  border-bottom: 1px solid rgb(175, 174, 174);
  border-top: 1px solid rgb(175, 174, 174);
}

.character-row td {
  padding: 0px 10px;
}

.spacer td {
  padding: 5px;
}

table th, table td {
  padding: 5px;
  text-align: center;
}

.form-container {
  border: .2rem solid #ececec;
  padding: 1rem;

  border-width: .2rem;
  border-radius: 8px;
}

.form-bump-down {
  margin-top: 40px;
}

.link-margin {
  padding-bottom: 10px;
}

.hero-table {
  width: 100%;
}

th.player-name {
  width: 5%;
}

th.name {
  width: 15%;
}

th.character-race {
  width: 10%;
}

th.character-class {
  width: 20%;
}

th.lvl {
  width: 3%;
}

th.checks {
  width: 2%;
}

th.dta {
  width: 5%;
}

th.mission-column {
  width: 4%;  
}

.hero-pagination {
  float: right;
}
