@import "ValidationMessage.css";

.icon-ok,
.icon-legal,
.icon-ok-circle {
  color: green;
}

.icon-remove,
.icon-remove-sign {
  color: red;
}

.div-margin-sm {
  margin: 20px;
}

.checkmark-dashboard tr:nth-child(4n+3) {
  background: rgb(240, 240, 240);
}

.character-row {
  border-bottom: 1px solid rgb(175, 174, 174);
  border-top: 1px solid rgb(175, 174, 174);
}

.character-row td {
  padding: 0px 10px;
}

.spacer td {
  padding: 5px;
}

table th, table td {
  padding: 5px;
  text-align: center;
}